hmtl,
body {
  color: #808299;
  font-family: "Shop And Show Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.495;
  background-color: whitesmoke;
}


svg:not(:root) {
  overflow: visible;
}

p {
  margin-bottom: 0;
}

.displayNone {
  display: none;
}

.verticalText {
  writing-mode: vertical-rl;
  transform: rotate(0.5turn);
}

.whiteSpaceNoWrap {
  white-space: nowrap;
}

.active-link {
  border-radius: 12px;
  background-color: #27bfc8;
  color: #fff !important;

  &:hover {
    background-color: #27bfc8;
  }
}

.menu-item {
  padding: 3px 14px 3px 14px;
}

.MuiOutlinedInput-adornedEnd {
  padding-right: 0 !important;
}

.download-link {
  &:hover {
    text-decoration: none;
  }
}



.MuiButton-root {
  min-width: 35px !important;
}



