//-colors-//
$turquoise-color: #4DD6CB;
$orange-color: #FF942D;
$blue-color: #009AFF;
$dark-blue-color: #0070BA;
$dark-slate-blue-color: #224b7a;
$white-color: #FFFFFF;
$white-opacity: rgba(245, 245, 245, 0.94);
$grey-color: #CFCFCF;
$dark-grey-color: #AAAAAA;
$black-color: #0F0F0F;
$eastern-blue: #b1a915;
$red-info: #F1002E;
